/* line 3, ../sass/home.scss */
#main_content {
  margin-top: 70px;
}

/* line 7, ../sass/home.scss */
#company {
  background-image: url('/everydayiplay/img/main/bg-photo1.jpg?1367091518');
  background-position: center top;
  background-repeat: no-repeat;
  height: 680px;
  width: 100%;
}
/* line 13, ../sass/home.scss */
#company #logo {
  background-image: url('/everydayiplay/img/main/logo.png?1367091519');
  max-width: 523px;
  width: 100%;
  height: 309px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 96%;
  margin: 10px auto;
  position: relative;
  top: 30px;
  display: block;
}
@media screen and (max-width: 600px) {
  /* line 13, ../sass/home.scss */
  #company #logo {
    top: 150px;
  }
}
/* line 24, ../sass/home.scss */
#company #viking {
  background-image: url('/everydayiplay/img/main/viking.png?1367091520');
  max-width: 530px;
  width: 100%;
  height: 287px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  position: relative;
  top: 135px;
}
@media screen and (max-width: 600px) {
  /* line 24, ../sass/home.scss */
  #company #viking {
    width: 300px;
    top: 233px;
  }
}

/* line 36, ../sass/home.scss */
#about {
  background-image: url('/everydayiplay/img/main/wood_pattern.png?1367091520');
  height: 750px;
  width: 100%;
}
/* line 40, ../sass/home.scss */
#about #top_rules {
  position: relative;
  margin: auto;
  width: 1032px;
  margin-top: 50px;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  /* line 40, ../sass/home.scss */
  #about #top_rules {
    width: 100%;
  }
}
/* line 49, ../sass/home.scss */
#about #top_rules #rules_vision {
  font-size: 4.5em;
  width: 48%;
  float: left;
  line-height: 1;
  font-weight: 900;
  padding: 0 1% 0 1%;
}
@media screen and (max-width: 1000px) {
  /* line 49, ../sass/home.scss */
  #about #top_rules #rules_vision {
    float: none;
    margin: auto;
    text-align: center;
    width: 100%;
  }
}
/* line 63, ../sass/home.scss */
#about #top_rules #rules_text {
  font-size: 1.6em;
  width: 48%;
  float: right;
  margin-top: 22px;
  padding: 0 1% 0 1%;
}
@media screen and (max-width: 1000px) {
  /* line 63, ../sass/home.scss */
  #about #top_rules #rules_text {
    float: none;
    margin: auto;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  /* line 63, ../sass/home.scss */
  #about #top_rules #rules_text {
    font-size: 1.2em;
  }
}
/* line 80, ../sass/home.scss */
#about #stay_small_sticker_container {
  margin-top: 57px;
}
/* line 83, ../sass/home.scss */
#about #independent_sticker_container {
  margin-top: 25px;
}
/* line 86, ../sass/home.scss */
#about .sticker_container {
  width: 27%;
  margin: 50px 3% 0 3%;
  float: left;
  line-height: 0.6;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 86, ../sass/home.scss */
  #about .sticker_container {
    float: none;
    width: 300px;
    height: 90px;
    margin: auto;
  }
}
/* line 98, ../sass/home.scss */
#about .sticker_container #stay_small_sticker {
  background-image: url('/everydayiplay/img/main/paper-sheet-1.png?1367091519');
  max-width: 281px;
  width: 100%;
  height: 333px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1000px) {
  /* line 98, ../sass/home.scss */
  #about .sticker_container #stay_small_sticker {
    width: 200px;
    height: 260px;
    background-size: contain;
  }
}
@media screen and (max-width: 600px) {
  /* line 98, ../sass/home.scss */
  #about .sticker_container #stay_small_sticker {
    background: none;
    width: 100%;
  }
}
/* line 110, ../sass/home.scss */
#about .sticker_container #independent_sticker {
  background-image: url('/everydayiplay/img/main/paper-sheet-2.png?1367091519');
  max-width: 314px;
  width: 100%;
  height: 363px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1000px) {
  /* line 110, ../sass/home.scss */
  #about .sticker_container #independent_sticker {
    width: 200px;
    height: 260px;
    background-size: contain;
  }
}
@media screen and (max-width: 600px) {
  /* line 110, ../sass/home.scss */
  #about .sticker_container #independent_sticker {
    background: none;
    width: 100%;
  }
}
/* line 122, ../sass/home.scss */
#about .sticker_container #top_talent_sticker {
  background-image: url('/everydayiplay/img/main/paper-sheet-3.png?1367091519');
  max-width: 299px;
  width: 100%;
  height: 338px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1000px) {
  /* line 122, ../sass/home.scss */
  #about .sticker_container #top_talent_sticker {
    width: 200px;
    height: 260px;
    background-size: contain;
  }
}
@media screen and (max-width: 600px) {
  /* line 122, ../sass/home.scss */
  #about .sticker_container #top_talent_sticker {
    background: none;
    width: 100%;
  }
}
/* line 134, ../sass/home.scss */
#about .sticker_container #stay_small {
  padding-left: 9px;
}
/* line 137, ../sass/home.scss */
#about .sticker_container #independent {
  padding-top: 225px;
}
@media screen and (max-width: 1000px) {
  /* line 137, ../sass/home.scss */
  #about .sticker_container #independent {
    padding-top: 150px;
  }
}
@media screen and (max-width: 600px) {
  /* line 137, ../sass/home.scss */
  #about .sticker_container #independent {
    padding-top: 0px;
  }
}
/* line 146, ../sass/home.scss */
#about .sticker_container .sticker {
  font-size: 5em;
  font-family: "AmaticSCRegular", "sans-serif";
  padding-top: 195px;
}
@media screen and (max-width: 1000px) {
  /* line 146, ../sass/home.scss */
  #about .sticker_container .sticker {
    font-size: 3em;
    padding-top: 150px;
  }
}
@media screen and (max-width: 600px) {
  /* line 146, ../sass/home.scss */
  #about .sticker_container .sticker {
    padding-top: 0px;
  }
}
/* line 157, ../sass/home.scss */
#about .sticker_container .sticker .small {
  font-size: 0.6em;
}
/* line 161, ../sass/home.scss */
#about .sticker_container .sticker_subtitle {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  /* line 161, ../sass/home.scss */
  #about .sticker_container .sticker_subtitle {
    display: none;
  }
}

/* line 172, ../sass/home.scss */
#games {
  background-image: url('/everydayiplay/img/main/bg-photo5.jpg?1367091518');
  background-position: center top;
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
  position: relative;
}
/* line 179, ../sass/home.scss */
#games #game_logo {
  background-image: url('/everydayiplay/img/main/game-logo.png?1367091518');
  max-width: 685px;
  width: 100%;
  height: 362px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 685px;
  width: 70%;
  background-position: center top;
  background-repeat: no-repeat;
  float: left;
  position: relative;
  top: 75px;
  background-size: contain;
}
@media screen and (max-width: 1000px) {
  /* line 179, ../sass/home.scss */
  #games #game_logo {
    width: 100%;
  }
}
/* line 193, ../sass/home.scss */
#games #tablet {
  background-image: url('/everydayiplay/img/main/ipad.png?1367091519');
  max-width: 769px;
  width: 100%;
  height: 582px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 70%;
  background-position: right top;
  background-size: cover;
  float: left;
}
@media screen and (max-width: 600px) {
  /* line 193, ../sass/home.scss */
  #games #tablet {
    width: 100%;
  }
}
/* line 203, ../sass/home.scss */
#games .buttons-apps_store {
  width: 222px;
  height: 81px;
}
/* line 207, ../sass/home.scss */
#games .buttons-google {
  width: 222px;
  height: 81px;
}
/* line 211, ../sass/home.scss */
#games .buttons-facebook {
  width: 222px;
  height: 81px;
}
/* line 215, ../sass/home.scss */
#games #schetches {
  float: right;
  width: 30%;
  margin-top: 80px;
}
/* line 219, ../sass/home.scss */
#games #schetches #slideshow {
  background-image: url('/everydayiplay/img/main/slide1.png?1367091519');
  max-width: 383px;
  width: 100%;
  height: 383px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 383px;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}
@media screen and (max-width: 600px) {
  /* line 219, ../sass/home.scss */
  #games #schetches #slideshow {
    display: none;
  }
}
/* line 230, ../sass/home.scss */
#games #schetches #description {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (max-width: 1000px) {
  /* line 230, ../sass/home.scss */
  #games #schetches #description {
    display: none;
  }
}
/* line 239, ../sass/home.scss */
#games #shops {
  position: absolute;
  top: 660px;
}
@media screen and (max-width: 1070px) {
  /* line 239, ../sass/home.scss */
  #games #shops {
    width: 250px;
    top: 490px;
    left: 50px;
  }
}
/* line 247, ../sass/home.scss */
#games #shops a {
  display: inline-block;
  margin: 0 5px 0 5px;
}

/* line 254, ../sass/home.scss */
#contact {
  background-image: url('/everydayiplay/img/main/bg-photo6.jpg?1367091518');
  background-position: center top;
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
/* line 263, ../sass/home.scss */
#contact #get_in_touch {
  background-image: url('/everydayiplay/img/main/hanging_note.png?1367156282');
  max-width: 513px;
  width: 100%;
  height: 504px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
@media screen and (max-width: 600px) {
  /* line 263, ../sass/home.scss */
  #contact #get_in_touch {
    width: 300px;
    height: 400px;
  }
}
/* line 270, ../sass/home.scss */
#contact #get_in_touch #get_in_touch_text {
  text-align: center;
  font-family: "AmaticSCRegular", "sans-serif";
  font-size: 2em;
  font-weight: 600;
  position: relative;
  top: 195px;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  /* line 270, ../sass/home.scss */
  #contact #get_in_touch #get_in_touch_text {
    font-size: 1.2em;
    top: 112px;
  }
}
/* line 282, ../sass/home.scss */
#contact #get_in_touch #get_in_touch_text #get_in_touch_title {
  font-size: 3em;
  line-height: 1.4;
}
/* line 288, ../sass/home.scss */
#contact #contact_us {
  width: 264px;
  height: 105px;
  margin: auto;
  display: block;
  margin-top: 10px;
}
/* line 295, ../sass/home.scss */
#contact #job {
  width: 264px;
  height: 105px;
  margin: auto;
  display: block;
  margin-top: 10px;
}
