/* line 3, ../sass/home.scss */
#main_content {
  margin-top: 70px;
}

/* line 7, ../sass/home.scss */
#company {
  background-image: url('/everydayiplay/img/main/bg-photo1.jpg?1367091518');
  background-position: center top;
  background-repeat: no-repeat;
  height: 680px;
  width: 100%;
}
/* line 13, ../sass/home.scss */
#company #logo {
  background-image: url('/everydayiplay/img/main/logo.png?1367091519');
  width: 523px;
  height: 309px;
  margin: auto;
  position: relative;
  top: 30px;
}
/* line 19, ../sass/home.scss */
#company #viking {
  background-image: url('/everydayiplay/img/main/viking.png?1367091520');
  width: 530px;
  height: 287px;
  margin: auto;
  position: relative;
  bottom: -145px;
}

/* line 27, ../sass/home.scss */
#about {
  background-image: url('/everydayiplay/img/main/wood_pattern.png?1367091520');
  height: 750px;
  width: 100%;
}
/* line 31, ../sass/home.scss */
#about #top_rules {
  position: relative;
  margin-top: 50px;
  font-weight: 600;
}
/* line 35, ../sass/home.scss */
#about #top_rules #rules_vision {
  font-size: 5em;
  width: 50%;
  float: left;
  line-height: 1;
}
/* line 41, ../sass/home.scss */
#about #top_rules #rules_text {
  font-size: 1.7em;
  width: 50%;
  float: right;
}
/* line 47, ../sass/home.scss */
#about .sticker_container {
  width: 27%;
  margin-right: 5%;
  float: left;
  line-height: 0.6;
  text-align: center;
  margin-top: 50px;
}
/* line 54, ../sass/home.scss */
#about .sticker_container #stay_small_sticker {
  background-image: url('/everydayiplay/img/main/paper-sheet-1.png?1367091519');
  width: 281px;
  height: 333px;
}
/* line 57, ../sass/home.scss */
#about .sticker_container #independent_sticker {
  background-image: url('/everydayiplay/img/main/paper-sheet-2.png?1367091519');
  width: 314px;
  height: 363px;
}
/* line 60, ../sass/home.scss */
#about .sticker_container #top_talent_sticker {
  background-image: url('/everydayiplay/img/main/paper-sheet-3.png?1367091519');
  width: 299px;
  height: 338px;
}
/* line 63, ../sass/home.scss */
#about .sticker_container .sticker {
  font-size: 5em;
  font-family: "AmaticSCRegular", "sans-serif";
  padding-top: 195px;
}
/* line 67, ../sass/home.scss */
#about .sticker_container .sticker .small {
  font-size: 0.6em;
}
/* line 71, ../sass/home.scss */
#about .sticker_container .sticker_subtitle {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 600;
}

/* line 79, ../sass/home.scss */
#games {
  background-image: url('/everydayiplay/img/main/bg-photo5.jpg?1367091518');
  background-position: center top;
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
}

/* line 87, ../sass/home.scss */
#contact {
  background-image: url('/everydayiplay/img/main/bg-photo6.jpg?1367091518');
  background-position: center top;
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
}
