@import "config";

html {
	overflow-y: scroll;
}

body{	
	background: $bgColor;
	font-family: $fontFamilyBase;
	font-style: normal;
	font-weight: 300;
}

a {
  color: $baseLink;
  text-decoration: none;
  &:hover {
    color: $baseLinkHover;
    text-decoration: underline;
   }
}

p {
	font-size: 1.6em;
}

h1 {
	font-size: 1.5em;
	font-family: $fontFamilyAlt;
	margin: 0 0;
	font-weight: 600;
}
h2 {
	font-size: 1em;
	margin: 0 0;
	font-weight: 300;
}

textarea, input {
	outline: none;
    border: 1px solid $hrColor;
    color: $hrColor;
    @include input-placeholder($hrColor);
	&:focus{
    	outline: none;
    	border: 1px solid $darkGrey;
    	color: $darkGrey;
    	@include input-placeholder($darkGrey);
	}	
}

.container {
	width: $containerBase;
	margin: auto;
    overflow: hidden;
	@media screen and (max-width: $breakBase) {
    	width: 98%;
    	margin-left: 1%;
		  margin-right: 1%;
  	}	
}

.white {
	color: #ffffff;
}


header {
	z-index:10;
    background-color: $headerGrey;
    $headerHeight: 70px;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    top: 0px;
    #top_bar {       
        #logo_header {
        	margin-top: 10px;
            float:left;
          	@include image-div('main/logo_header.png');
        }
        #menu {
          	float:right;
          	line-height: $headerHeight;
          	width: 400px;
          	a {
          		color: $headerLink;
          		text-decoration: none;
          		padding-left: 15%;
          		font-weight: 600;
          		&:hover {
          			color: $headerLinkHover;
          		}
          	}
        }
    }
}


footer {
	height:110px;
	background-color: $headerGrey;
	#logo_footer {
		@include image-div('main/logo_footer.png');
		margin: auto;		
		top: 25px;
		position: relative;
	}
}
    
    