@import "config";
@import "compass";

html {
	overflow-y: scroll;
}

body{	
	background: $bgColor;
	font-family: $fontFamilyBase;
	font-style: normal;
	font-weight: 300;
	@include single-text-shadow(rgba(255, 255, 255, 1), 0px, 1px, 0px);
}

a {
  color: $baseLink;
  text-decoration: none;
  &:hover {
    color: $baseLinkHover;
    text-decoration: underline;
   }
}

p {
	font-size: 1.6em;
}

h1 {
	font-size: 1.5em;
	font-family: $fontFamilyAlt;
	margin: 0 0;
	font-weight: 600;
}
h2 {
	font-size: 1em;
	margin: 0 0;
	font-weight: 300;
}

textarea, input {
	outline: none;
    border: 1px solid $hrColor;
    color: $hrColor;
    @include input-placeholder($hrColor);
	&:focus{
    	outline: none;
    	border: 1px solid $darkGrey;
    	color: $darkGrey;
    	@include input-placeholder($darkGrey);
	}	
}

.container {
	width: $containerBase;
	margin: auto;
    overflow: hidden;
	@media screen and (max-width: $breakBase) {
    	width: 100%
  	}	
}

.white {
	color: #ffffff;
}


header {
	z-index:10;
    background-color: $headerGrey;
    $headerHeight: 70px;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    top: 0px;
    @include box-shadow(0px 0px 8px black);
    #top_bar {       
        #logo_header {
        	margin: 10px 0 0 1%;
            float:left;
          	/*@include image-div('logo_header.png');
          	&:hover {
          		@include image-div('logo_header_hover.png');
          	}*/
          	@media screen and (max-width: $breakMenu) {
          		display: none;
          	}
        }
        #menu {
          	float:right;
          	line-height: $headerHeight;
          	width: 320px;
          	@media screen and (max-width: $breakMenu) {
          		float: none;
          		margin: auto;
          	}
          	a {
          		color: $headerLink;
          		text-decoration: none;
          		padding-left: 11%;
          		font-weight: 600;
          		text-shadow: none;
          		&:hover {
          			color: $headerLinkHover;
          		}
          	}
        }
    }
}


footer {
	height:120px;
	background-color: $headerGrey;
	#logo_footer {
		/*@include image-div('logo_footer.png');*/
		margin: auto;		
		top: 30px;
		position: relative;
	}
}
    
    