$bgColor: #ffffff;
$hrColor: #cccccc;
$baseLink: #000000;
$baseLinkHover: #333333;
$headerLink: #dddddd;
$headerLinkHover: #ffffff;
$baseGrey: #333333;
$darkGrey: #666666;

$headerGrey: #1a1a1a;

$containerBase: 1250px;
$breakBase: 1250px;
$breakLinksToShops: 1070px;
$breakAbout: 1000px;
$breakGameDescription: 1000px;
$breakMobile: 600px;
$breakRules: 470px;
$breakMenu: 400px;


$fontFamilyBase: "proxima-nova",sans-serif;
$fontFamilyAlt: "AmaticSCRegular","sans-serif";

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
  }
  &:-moz-placeholder {
    color: $color; 
  }
  &::-webkit-input-placeholder {
    color: $color; 
  } 
}

@mixin image-div($imageAddress) {
	background-image: image-url($imageAddress);
	max-width: image-width($imageAddress);
	width: 100%;
    height: image-height($imageAddress);
    background-position:center top;
	background-repeat:no-repeat; 
	background-size: contain;
}