@import "config";

#main_content {
	margin-top:70px;
}

#company {
	background-image: image-url('main/bg-photo1.jpg');
	background-position:center top;
	background-repeat:no-repeat; 
	height: 680px;
	width: 100%;
	#logo {		
        @include image-div('main/logo.png');
        margin: auto;
        position: relative;
        top: 30px;
	}
	#viking {		
        @include image-div('main/viking.png');
        margin: auto;
        position: relative;
        bottom: -145px;
	}
}

#about {
	background-image: image-url('main/wood_pattern.png');	
	height: 750px;
	width: 100%;
	#top_rules {
		position: relative;
		margin-top: 50px;
		font-weight: 600;
		#rules_vision {
			font-size: 5em;
			width:50%;
			float: left;
			line-height: 1;
		}
		#rules_text {
			font-size: 1.7em;
			width:50%;
			float: right;
		}
	}
	.sticker_container {
		width: 27%;
		margin-right: 5%;
		float: left;
		line-height: 0.6;
		text-align: center;
		margin-top: 50px;
		#stay_small_sticker {
			@include image-div('main/paper-sheet-1.png');
		}
		#independent_sticker {
			@include image-div('main/paper-sheet-2.png');
		}
		#top_talent_sticker {
			@include image-div('main/paper-sheet-3.png');
		}
		.sticker {
			font-size:5em;
			font-family: $fontFamilyAlt;
			padding-top: 195px;
			.small {
				font-size:0.6em;
			}
		}
		.sticker_subtitle {
			font-size: 1em;
			line-height: 1.4;
			font-weight: 600;
		}
	}
}

#games {
	background-image: image-url('main/bg-photo5.jpg');	
	background-position:center top;
	background-repeat:no-repeat; 
	height: 750px;
	width: 100%;
	#game_logo {
		@include image-div('main/game-logo.png');
		background-position: center top;
		background-repeat: no-repeat; 
		float: left;
	}
	#tablet {
		@include image-div('main/ipad.png');
		background-position: right top;
		background-repeat: no-repeat; 
		float: left;
	}
	.buttons-apps_store {
		width: image-width('buttons/apps_store.png');
    	height: image-height('buttons/apps_store.png'); 
	}
	.buttons-google {
		width: image-width('buttons/google.png');
    	height: image-height('buttons/google.png'); 
	}
	.buttons-facebook {
		width: image-width('buttons/facebook.png');
    	height: image-height('buttons/facebook.png'); 
	}
	#schetches {
		float: right;
		width: 30%;
		margin-top: 80px;
		#slideshow {
			@include image-div('main/slide1.png');
		}
		#description {
			font-size: 1.3em;
			font-weight: 600;
			line-height: 1.2;
		}
	}
}

#contact {
	background-image: image-url('main/bg-photo6.jpg');	
	background-position:center top; 
	background-repeat:no-repeat; 
	height: 750px;
	width: 100%;
	overflow: hidden; 
	z-index: 1;
	position: relative;
	#get_in_touch {		
        @include image-div('main/hanging_note.png');
        margin: auto;
        #get_in_touch_text {
        	text-align: center;
        	font-family: $fontFamilyAlt;
        	font-size: 2em;
        	font-weight: 600;
        	position: relative;
			top: 195px;			
    		line-height: 1;
        	#get_in_touch_title {
        		font-size: 3em;
        		line-height: 1.4;
        	}
        }
	}
	#contact_us {		
        width: image-width('buttons/contact_us.png');
    	height: image-height('buttons/contact_us.png');
        margin: auto;
        display: block;
        margin-top: 10px;
	}
	#job {		
        width: image-width('buttons/job.png');
    	height: image-height('buttons/job.png');
        margin: auto;
        display: block;
        margin-top: 10px;
	}
}
